@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    tbody, td, tfoot, th, thead, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 1px;
    }
</style>
<div>
    <form>
    <h1>User Details Page</h1>
    
    <label> Enter User Name </label>
    <input type="text" />

    <label> Enter User Email </label>
    <input type="email" />

    <button>Add User</button>
    </form>

<h3>----------- User Listing --------</h3>
    <table style="border-width:1px;">
        <thead>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Email</th>
         </thead>
         <tbody>
             <td>1</td>
             <td>Rohini</td>
             <td>rohini@gmail.com</td>
         </tbody>
    </table>

</div>
